* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
}

.timetable_info {
	display: flex;
	flex-wrap: wrap;
}
.timetable_info .unit {
	margin: 0px 5px;
}

.hidden {
	visibility: hidden;
}
.clicked_color {
	background-color: #e4f2e1;
}
#timetable {
	border-collapse: collapse;
	text-align: center;
}
#timetable .unit {
	border: 1px solid #333;
	width: 80px;
	height: 70px;
}
#timetable .unit table {
	border-collapse: collapse;
	border: 1px solid #333;
	width: 100%;
	height: 100%;
}
#timetable .unit td {
	border: 1px dotted #333;
}
#timetable .unit .subject {
	height: 40px;
	font-size: 20px;
}
#timetable .unit .class {
	height: 15px;
	font-size: 10px;
}
#timetable .unit .teacher {
	height: 15px;
	font-size: 10px;
}
.selected_classes{
	display: flex;
}